@tailwind base;
@tailwind components;
@tailwind utilities;

.react-tabs__tab {
  border: none;
  border-radius: 50px;
  font-weight: 600;
  font-style: italic;
  margin-left: 20px;
}
.slick-next {
  margin-right: 40px;
}
.slick-prev {
  margin-left: 40px;
  z-index: 1;
}
.slick-dots {
  margin-bottom: 5px;
  padding-bottom: 40px;
}
